* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Open Sans", Oswald;
}

ul {
    display: flex;
    flex-wrap: wrap;

    list-style-type: none;
    padding: 0;
    max-width: 425px;
}

li {
    border-radius: 20px;
    background-color: #89DEEF;
    padding: 4px;
    margin-right: 6px;
    margin-bottom: 6px;

    white-space: nowrap;
}

img {
    max-width: 100%;
}

.dogs_container {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 45px;
    justify-content: space-between;
}

.header {
    color: white;
    background-color: #004175;

    padding: 20px;
    padding-left: 45px;

    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: #89DEEF;
}

.para {
    margin: 15px 45px;
}

.dog {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-bottom: 100px;
}

.footer {
    display: flex;
    flex: 1 1 auto;

    position: relative;
    text-align: center;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;

    color: white;
    font-size: 50px;
}